@color: #717171;
@color1: #a8a8a8;
@fontColor: #ffffff;
@font: "Unica One";
@color2: #000000;
@color3:#b9b9b9;
@color4: #bf1626;
@color5: #256bff;
@color6: #e24373;
@color7: #a8364b;
@color8: #2157b6;

body{
  background-color: white;
}

.products .products2{
  clear: both;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.products2 img {
  width: 270px;
  height: 260px;
}

.salesProduct  {
  color:@color2;
  font-size:40px;
  font-weight: bold;
  text-align:center;
  font-family: @font;

}